<div.bigText>${input.program.title}</div>
<script>
    console.log('$!{input.program}');
    console.info('$!{JSON.stringify(input.program)}');
    var obj = {
        d1 : 1,
        d2 : 2
    }
</script>