class {
    onCreate() {
        this.state = {
            pid: 0
        }
    }
    onMount() {
        //this.state.pid = input.pid;
        //console.log(input);
    }
    shout() {
		alert("My favorite number is " + this.state.pid + "!");
	}
}
style {
  .primary {
    color:#09c;
    font-size:3em;
  }
}
<button.primary on-click('shout')>program-id: ${input.pid}</button>
