class {
    onCreate() {
        this.number = 123;
    }
    shout() {
		alert("My favorite number is " + this.number + "!");
	}
}

style {
  .primary {
    color:#09c;
    font-size:3em;
  }
}
<button.primary >program-id: ${input.pid}</button>