

<lasso-page/>

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <title>marko-fastify</title>
    <lasso-head/>
  </head>
  <body>

    <f-title program=data.program/>
    <f-button pid=data.program.id/>

    <lasso-body/>
  </body>
</html>