static {/**@ts
import { Program } from "../typings/model";
interface Input {
  program: Program;
}
*/}
$ let program = input.program;

<!DOCTYPE html>
<html>
  <head/>
  <body>
    <div>${program.title}</div>
    <!-- <span for(let i=0;i<1000;i++)>${program.title}</span> -->
  </body>
</html>
